{% extends "personal/header.html" %}

{% block content %}
	<div style="background-image: url('/static/img/environment2.jpg');
	background-size: cover; height:1000px;">
	<p>
	<br>
	<br>
	<br>
	<div class="jumbotron">
	<center>
	<h1  class="display-2 text-light">
	Together we can make a difference
	</h1>
	<br>
	<hr>
	<center>
	  <h3 class="display-6" style="color:yellow;">Take a pledge today to reduce food waste/recycle by composting</h3>
	<p class="lead">
	<br>
	<a class="btn btn-primary btn-lg" href="/foodwaste/pledge" role="button" >Pledge Now</a>
	</p>
	</center>
</div>
<p>
	</div>
	<span class="align-right">
		<a>image by <a href="http://www.freeimageslive.co.uk/free_stock_image/summer-meadow-vermont-jpg" target="_blank"> freeimageslive.co.uk - peterboy</a>
	</span>
{% endblock %}
