{% extends "personal/header.html" %}

{% block content %}
    <br>
    <h1>How to Compost</h1>
    <br>
    <div>
        <p class="lead"><strong>You can compost at-home on your own by following a few simple steps.</strong></p>
        <div class="row content">
        <div class="col-sm-2">
          <span class="border">
          <img src="/static/img/kitchen-scrap.jpg" class="rounded mx-auto d-block" style='max-height:250px;' alt="face">
          </span>
        </div>
          <div class="col-sm-8">
              <ul>
              <li>First, understand and collect what food wastes are good for composting (and which aren’t)</li>
              <ul>
                <li>
                  <img src="/static/img/check.png" class="responsive-img" style='max-height:40px;' alt="face">
                   Fruit and vegetable peels, grains, eggshells, tea bags, coffee grounds, paper towels.</li>
                <li>
                  <img src="/static/img/No.png" class="responsive-img" style='max-height:40px;' alt="face">
                  Meat, fish, bones, oils, butter, dairy, fried foods.  </li>
              </ul>
          </div>
          </div>
          <div class="row content">
          <div class="col-sm-2">
            <span class="border">
            <img src="/static/img/bin1.jpg" class="rounded mx-auto d-block" style='max-height:250px;' alt="face">
            </span>
          </div>
            <div class="col-sm-8">
                <ul>
                <li>Next choose a place to make your compost. I would recommend purchasing 2-3 garbage cans and using those to make compost.
                  You need to drill some holes on the cans for better air circulation so the compost attracts worms which greatly speed up the whole process.
                </li>
            </div>
            </div>
            <div class="row content">
            <div class="col-sm-2">
              <span class="border">
              <img src="/static/img/compostmix.gif" class="rounded mx-auto d-block" style='max-height:250px;' alt="face">
              </span>
            </div>
              <div class="col-sm-8">
                  <ul>
                  <li>
                    The Third step is creating the compost mix. These are the ‘greens and browns’ which make composting possible.
                    You want to layer it: browns followed by greens, browns followed by greens. You also typically want more browns than
                    greens in 3 to 1 ratio. I store the excess leaves (browns) from the fall season in another bin and use it when necessary
                    to maintain the browns to greens ratio.
                  </li>
                  <ul>
                      <li>Greens: fruit/vegetable scraps, egg shells, flowers, coffee grounds, fresh grass, fresh leaves.</li>
                      <li>Browns: twigs/sticks, egg cartons, newspaper, sawdust, hay, straw, dried grass, old leaves, dried pine needles, etc.</li>
                    </ul>
                    </ul>
              </div>
              </div>
              <div class="row content">
              <div class="col-sm-2">
                <span class="border">
                <img src="/static/img/compostturn.jpg" class="rounded mx-auto d-block" style='max-height:250px;' alt="face">
                </span>
              </div>
                <div class="col-sm-8">
                    <ul>
                    <li>
                      Lastly, wait for a few months. To keep things moving, you'll want to turn or rotate the pile, perhaps with a
                      stick or spade periodically (every few weeks). Make sure the air is flowing in the bin.

                    </li>
                    <ol>
                      <ul>
                        <li>If the weather is cold, it could take up to six months to create compost,
                        and if it is warm it could be created in as quickly as two months.</li>
                      </ul>
                      </ol>
                </div>
                </div>
    </div>

{% endblock %}
