{% extends "personal/header.html" %}

{% block content %}
    <br>
    <h2>Composting at school</h2>
    <div>
        <div class="row content">
        <h5> See also <a href='/foodwaste/foodwaste-report'>Opportunities at Educational Instititions </a></h5>
        </div>
        <br>
        <div class="row content">
          <div>
          <embed src="/static/img/Composting At Schools.pdf" width="800px" height="2100px" />
          </div>
          Image: Torfaen, CC BY-SA 3.0 <https://creativecommons.org/licenses/by-sa/3.0>, via Wikimedia Commons
          <div><br/><br/><br></div>
          <h2>Below is a case study performed by a Jersey school<h2>
          <div class="row content">
          <img src="/static/img/compost-casestudy.jpg" class="rounded mx-auto d-block" style='max-height:1500px;' alt="face">
          </div>
        </div>
    </div>




{% endblock %}
