{% extends "personal/header.html" %}

{% block content %}
    <br>
    <h2>3-Part Wooden Compost Bin</h2>
    <div>
          <div class="row content">
            <div class="col-sm-3">
              <h3>Milltown elementary School</h3>
              <br>
            I initiated and led an effort to build a 3-Part Wooden Compost Bin to fulfill Milltown elementary school's composting needs.
            Thanks to Mr. Brauchle, adult leaders, and Troop-88 scouts and families for helping me build and install the Compost bin.
            Special thanks to Milltown School principal Matthew Lembo and teacher Meredith Alvarez for the encouragement and advice.
            <br/><br/>
            </div>
            <div class="col-sm-6">
            <img src="/static/img/akhil-bin.jpg" class="rounded mx-auto d-block" width="500px" style='max-height:1500px;' alt="face">
            </div>
          </div>
          <br/><br/>
          <div class="row content">
          <div class="col-sm-9">
          <embed src="/static/img/Compost bin Manual.pdf" width="850px" height="2100px" />
          </div>
          </div>
    </div>







{% endblock %}
